
  <p id="notice"><%= notice %></p>
  

  <p class="mesoeuvrestext">Les Œuvres</p>
  <div class="row justify-content-center space-evenly" class="mesvignettes">
    <% @arts.each do |art| %>
        <div class="card">
          <div class="divimagevignette" style="background-image: url(<%= art.Picture %>);">
            
          </div>
          <!--<img src="<%= art.Picture %>" class="img-fluid" class="img"/>-->
          <div class="card-body">
            <h5 class="card-title"><%= art.Title %></h5>
            <!--<p class="card-text"><%= art.Description %></p>-->
            <div class="mesboutonvignette">
              <%= link_to 'Montrer', art, class: 'btn btn-primary' %>
              <%= link_to 'Editer', edit_art_path(art), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

    <% end %>
  </div>

<!--background-image: linear-gradient(to right, red , yellow);-->
