<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @art.Title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @art.Author %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @art.Date %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= @art.Picture %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @art.Description %>
  </p>

  <%= link_to 'Edit', edit_art_path(@art) %> |
  <%= link_to 'Back', arts_path %>
</div>