<div class="container">

  <p class="mesoeuvrestext">Détails de l'Œuvres</p>

  <div class="jumbotron">
    <h1 class="display-4"><%= @art.Title %></h1>
    <h2><%= @art.Author %> - <%= @art.Date %></h2>
    <img src="<%= @art.Picture %>" class="img-fluid"/>
    <p class="lead" style="margin-top: 10px;"><%= @art.Description %></p>
    <hr class="my-4">
    <%= link_to 'Editer', edit_art_path(@art), class: 'btn btn-primary'%> |
    <%= link_to 'Retour', arts_path, class: 'btn btn-primary'%>
  </div>

</div>