<!DOCTYPE html>
<html>
  <head>
    <title>Museevirtuel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="./" class="navbar-brand" style="font-weight: 900; font-style: italic;">Musée - De la haine à la passion</a>
      <%= link_to 'Ajouter Œuvre',new_art_path, class: 'btn btn-primary'%>
    </nav>
    <div class="banierepage" style="position: relative; height:100vh; width:100vw;">
      <div class="grad">
        <div class="mestitres">
          <h1 class="titre1">Musée Virtuel</h1>
          <h2 class="titre2">De la haine à la passion</h2>
          <span class="blinking">➜</span>
        </div>
      </div>
    </div>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    
  <div class="container-fluid">
    <%= yield %>
  </div>

  </body>
</html>
